edge-tts==7.2.8
aiohttp==3.13.3
av==17.0.0
faster-whisper==1.2.1
silero-vad==6.2.1
sounddevice==0.5.5
numpy==2.4.3
colorlog==6.10.1
setuptools==80.9.0
sherpa-onnx==1.12.32
httpx==0.28.1
httpx-sse==0.4.3
customtkinter==5.2.2
Pillow==12.1.1
pynput==1.8.1
torch==2.10.0
torchaudio==2.10.0
resemblyzer==0.1.4
pywinpty>=3.0
